@model IEnumerable<WebApplication1.EntityModels.TeamMemberProject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamMember.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Title)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { teamMemberId = item.TeamMemberId, projectId = item.ProjectId }) |
                    @Html.ActionLink("Details", "Details", new { teamMemberId = item.TeamMemberId, projectId = item.ProjectId }) |
                    @Html.ActionLink("Delete", "Delete", new { teamMemberId = item.TeamMemberId, projectId = item.ProjectId })
            </td>
        </tr>
}
    </tbody>
</table>
